<a href="https://colab.research.google.com/github/HasibAlMuzdadid/Data-Science-Projects/blob/main/demographic%20data%20analyzer/demographic_data_analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Demographic Data Analyzer**

In [ ]:
import pandas as pd

In [ ]:
# Read data from file
df = pd.read_csv("adult.data.csv")

In [ ]:
df.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

In [ ]:
df.describe()

                age        fnlwgt  ...  capital-loss  hours-per-week
count  32561.000000  3.256100e+04  ...  32561.000000    32561.000000
mean      38.581647  1.897784e+05  ...     87.303830       40.437456
std       13.640433  1.055500e+05  ...    402.960219       12.347429
min       17.000000  1.228500e+04  ...      0.000000        1.000000
25%       28.000000  1.178270e+05  ...      0.000000       40.000000
50%       37.000000  1.783560e+05  ...      0.000000       40.000000
75%       48.000000  2.370510e+05  ...      0.000000       45.000000
max       90.000000  1.484705e+06  ...   4356.000000       99.000000

[8 rows x 6 columns]

In [ ]:
df.shape

(32561, 15)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

 How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [ ]:
race_count = df["race"].value_counts()
print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

 What is the average age of men?

In [ ]:
male = df[df["sex"]=="Male"]
# print(male)
average_age_man = round(male["age"].mean(),ndigits=1)
print(f"{average_age_man} years")

39.4 years

What is the percentage of people who have a Bachelor's degree?

In [ ]:
total_bachelor_degree = df[df["education"]=="Bachelors"]["education"].count()
# print(total_bachelor_degree)
total_degree = df["education"].count()
# print(total_degree)
percentage_bachelors = round(100*total_bachelor_degree/total_degree, ndigits=1)
print(f"{percentage_bachelors}%")

16.4%

What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
What percentage of people without advanced education make more than 50K?

with and without `Bachelors`, `Masters`, or `Doctorate`

In [ ]:
df["education"].value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [ ]:
higher_education = df[df["education"].isin(["Bachelors","Masters","Doctorate"])]
# print(higher_education["education"].value_counts())

lower_education = df[~df["education"].isin(["Bachelors","Masters","Doctorate"])]
# print(lower_education["education"].value_counts())


# percentage with salary>50K

# print(higher_education["salary"].value_counts())

higher_education_rich = round(100*higher_education[higher_education["salary"]==">50K"]["salary"].count()/higher_education["salary"].count(), ndigits=1)
print(f"{higher_education_rich}%")

lower_education_rich = round(100*lower_education[lower_education["salary"]==">50K"]["salary"].count()/lower_education["salary"].count(), ndigits=1)
print(f"{lower_education_rich}%")

46.5%
17.4%

What is the minimum number of hours a person works per week (hours-per-week feature)?

In [ ]:
# print(df["hours-per-week"].value_counts())
min_work_hours = df["hours-per-week"].min()
print(f"{min_work_hours} hours")

1 hours

What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [ ]:
num_min_workers = df[df["hours-per-week"]==df["hours-per-week"].min()]["hours-per-week"].count()
print(f"{num_min_workers} people work for minimum hours in a week")

min_workers = df[df["hours-per-week"]==df["hours-per-week"].min()]
min_workers_rich = min_workers[min_workers["salary"]==">50K"]["salary"].count()
print(f"{min_workers_rich} people work for minimun hours but earn more than 50K")

rich_percentage = round(100*min_workers_rich/num_min_workers, ndigits=1)
print(f"{rich_percentage}% people earns highly by working minimum number of hours in a week")

20 people work for minimum hours in a week
2 people work for minimun hours but earn more than 50K
10.0% people earns highly by working minimum number of hours in a week

Which country has the highest percentage of people that earn >50K?

In [ ]:
higher_earning_ratio_country = (df[df["salary"]==">50K"]["native-country"].value_counts()/df["native-country"].value_counts()).sort_values(ascending=False)
print(higher_earning_ratio_country)


highest_earning_country = (df[df["salary"]==">50K"]["native-country"].value_counts()/df["native-country"].value_counts()).idxmax()
print(f"{highest_earning_country} has the highest percentage of people that earn more than 50K")

Iran                          0.418605
France                        0.413793
India                         0.400000
Taiwan                        0.392157
Japan                         0.387097
Yugoslavia                    0.375000
Cambodia                      0.368421
Italy                         0.342466
England                       0.333333
Canada                        0.322314
Germany                       0.321168
Philippines                   0.308081
Hong                          0.300000
Greece                        0.275862
China                         0.266667
Cuba                          0.263158
?                             0.250429
Scotland                      0.250000
United-States                 0.245835
Hungary                       0.230769
Ireland                       0.208333
South                         0.200000
Poland                        0.200000
Thailand                      0.166667
Ecuador                       0.142857
Jamaica                       0.123457
Laos                          0.111111
Portugal                      0.108108
Puerto-Rico                   0.105263
Trinadad&Tobago               0.105263
Haiti                         0.090909
El-Salvador                   0.084906
Honduras                      0.076923
Vietnam                       0.074627
Peru                          0.064516
Nicaragua                     0.058824
Mexico                        0.051322
Guatemala                     0.046875
Columbia                      0.033898
Dominican-Republic            0.028571
Holand-Netherlands                 NaN
Outlying-US(Guam-USVI-etc)         NaN
Name: native-country, dtype: float64
Iran has the highest percentage of people that earn more than 50K

In [ ]:
highest_earning_country_percentage = round(100*(df[df["salary"]==">50K"]["native-country"].value_counts()/df["native-country"].value_counts()).max(), ndigits=1)
print(f"{highest_earning_country_percentage}% people of {highest_earning_country} earn more than 50K")

41.9% people of Iran earn more than 50K

Identify the most popular occupation for those who earn >50K in India.

In [ ]:
earn_rich = df[df["salary"]==">50K"]
earn_rich_INDIA = earn_rich[earn_rich["native-country"]=="India"]

top_INDIA_occupation_list = (earn_rich_INDIA["occupation"].value_counts()).sort_values(ascending=False)
print(top_INDIA_occupation_list) 

top_INDIA_occupation = top_INDIA_occupation_list.index[0]
print(f"{top_INDIA_occupation} is the most popular occupation among high earning people in INDIA")

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64
Prof-specialty is the most popular occupation among high earning people in INDIA